<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Tony</name>

    <description>
        An example for phonegap build docs. 
    </description>

    <author href="http://www.tonylai.net" email="tonylai@hotmail.com">
        Tony Lai
    </author>

    <icon src="http://3.bp.blogspot.com/-7DO_WxY81ZU/UtnVGD6v0OI/AAAAAAAAHVw/J8bR23XKhU0/s1600/tonylai.PNG" />

</widget>
